<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ActionScript 3 Bundle Generator</string>
	<key>uuid</key>
	<string>E585B311-17DE-4F1C-8A1F-A2991FF641C7</string>
</dict>
</plist>
